Repository voxpupuli/container-puppetserver, pull requests merged in 2024-01, with the labels that each got.

#42 Release v1.1.3
  CHANGELOG.md
Labels: skip-changelog

#43 add information on new version schema
  README.md
Labels: documentation

#44 Add additional parameters, rework entrypoint order
  README.md
  puppetserver/Dockerfile
  puppetserver/docker-entrypoint.d/56-set-environmentpath.sh
  puppetserver/docker-entrypoint.d/57-set-hiera_config.sh
  puppetserver/docker-entrypoint.d/88-enable-cache-delete-api.sh
  puppetserver/docker-entrypoint.d/90-ca.sh
  puppetserver/docker-entrypoint.d/99-log-config.sh
Labels: bug, enhancement

#45 build latest version for each puppet version
  .github/workflows/build_docker.yml
Labels: enhancement

#52 Add Ruby 3.0 to Dockerfile to get r10k 4.x running
  puppetserver/Dockerfile
Labels: bug

#56 Release v1.2.0
  CHANGELOG.md
Labels: skip-changelog

#62 Release v1.3.0
  CHANGELOG.md
Labels: skip-changelog
